openapi: "3.0.0"
info:
  version: 1.0.0
  title: SwaggerBake - A MixerAPI Project
  description: |
    For documentation please review the project [README](https://github.com/cnizzardini/cakephp-swagger-bake) and for
    other great API related packages checkout [MixerAPI](http://mixerapi.com). To change this text edit your
    `swagger.yaml` file.
  license:
    name: YOUR-LICENSE-HERE
servers:
  - url: /
paths:
  /api/v1/users/login:
    post:
      summary: User Login
      operationId: users:login:post
      tags:
        - Users
      requestBody:
        description: User credentials
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required:
                - email
                - password
      responses:
        200:
          description: Login successful with JWT token
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                      user:
                        $ref: '#/components/schemas/User'
  /api/v1/users/register:
    post:
      summary: Register User
      operationId: users:register:post
      tags:
        - Users
      requestBody:
        description: User registration data
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required:
                - email
                - password
      responses:
        200:
          description: User created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/User'


security:
  - BearerAuth: []

definitions:

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Exception:
      type: object
      properties:
        code:
          type: integer
          example: 500
        url:
          type: string
          example: /url/path
        message:
          type: string
          example: Internal Error
      xml:
        name: response
    OperationResult:
      type: object
      properties:
        result:
          type: boolean
      xml:
        name: response
x-swagger-bake:
  components:
    schemas:
      Generic-Collection:
        type: object
        x-data-element: data
        properties:
          collection:
            type: object
            properties:
              url:
                type: string
                format: url
                example: /index
              count:
                type: integer
                example: 20
              total:
                type: integer
                example: 200
              pages:
                type: integer
                example: 10
              next:
                type: string
                format: url
                example: /index?page=:number
              prev:
                type: string
                format: url
                example: /index?page=:number
              first:
                type: string
                format: url
                example: /index
              last:
                type: string
                format: url
                example: /index?page=:number
